body{
    background-color: #3ba125
}
header {
    text-align: center;
    color: white;
    padding: 20px;
}
h1 {
                color: white ;
                /* color: yellow; */
                font-size: 120px;
            }
h2{
    color: yellow;
    font-family: "comic sans ms";
    font-size: 40px;
}
header img{
    width: 350px;
    height: auto;
    border: 10px solid yellow;

}